include ../footer__social/footer__social

mixin footer__copyright(nets)
    .footer__copyright
        p.footer__text-copyright Copyright © 2018 Toxin отель. Все права зачищены.
        +footer__social(nets)