mixin range()       
        .range&attributes(attributes)
            .range__output
                label(for='amount' class='range__label') Диапазон цены
                input(type='text' class='range__value' id='amount' readonly)
            .range__input
            p.range__text Стоимость за сутки пребывания в номере