.header__site-menu {
    padding-right: 16px;
    margin-right: -15px;

    .site-menu__item {
        margin-right: 20px;
        padding-top: 14px;
    }
}

@media screen and (max-width: $smDesktopWidth) {
    .header__site-menu {
        order: 3;
    }    
}

@media screen and (max-width: $phoneWidth) {
    .header__site-menu {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}