include ../input/input

mixin checkboxList(opt)
    -itemList = opt.itemList || {};
    -title = opt.title || {};
    .checkboxList&attributes(attributes)
        p.checkboxList__title= title
            each item in opt.itemList
                +input(item)(class='checkboxList__input')
        