include ../../blocks/body/body
include ../../blocks/landing/landing
include ../../blocks/header/header
include ../../blocks/footer/footer

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    title Toxin
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.min.css")
  +body()
    +landing()
      +header({})
      +card('search')(class="landing__card-search")
    +footer({})
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.min.js") 



    