.additional-list__title {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    outline: none;
    margin-bottom: 17px;
    &::-webkit-details-marker {
       display: none;
    }

    &:after {
        content: '';
        transition-duration: 0.3s;
        cursor: pointer;
        width: 20px;
        height: 10px;
        float: right;
        margin-top: 2px;
        padding-right: 22px;
        background: url("./assets/img/expand_more.svg") no-repeat center;
    }
}