.body {
    font-family: $mainFont;
    font-weight: 400;
    color: $mainFontColor;
    max-width: $max-width;
    min-width: $min-width;
    margin-left: auto;
    margin-right: auto;
    font-size: $mainFontSize;
}