.btn_type-border {
    position: relative;
    background: $purpleLinearGradient;
    &:after {
        content: '';
        display: block;
        position: absolute;
        background-color: #fff;
        background-clip: content-box;
        border-radius: inherit;
        top: 2px;
        bottom: 2px;
        left: 2px;
        right: 2px;
    }
    span{
        position: relative;
        z-index: 2;
        background: $purpleLinearGradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
} 
    