.field_dropdown {
    position: relative;

        &:after{
            content: '';
            cursor: pointer;
            pointer-events: none;
            display: block;
            position: absolute;
            background: url("./assets/img/expand_more.svg") no-repeat center;
            width: 24px;
            height: 20px;
            top: 50%;
            left: calc(100% - 32px);
        }   
}