@import "field__input/field__input.scss";
@import "field__label/field__label.scss";
@import "field_dropdown/field_dropdown.scss";


.field {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}