.field__input {
    border: 1px solid $darkShade25;
    border-radius: 4px;
    height: 44px;
    box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    padding-right: 30px;
    margin-top: 5px;
    color: $darkShade75;

    &:disabled {
        background-color: #fff;
    }
}