.datepicker--nav {
    padding: 14px 18px;
    border: none;
    .datepicker--nav-title {
        padding: 0;
        font-family: $thirdFont;
        font-weight: 800;
        font-size: 19px;
        color: $mainFontColor;
    }
}

