mixin controler()
    .controler.dropdown__controler
        button.controler__button.controler__button_minus
            span -
        input.controler__number(value=0 readonly)&attributes(attributes)
        button.controler__button.controler__button_plus 
            span +