@import "./calendar__nav-icon/calendar__nav-icon.scss";
@import "./datepicker--nav/datepicker--nav.scss";
@import "./datepicker--content/datepicker--content.scss";
@import "./datepicker--buttons/datepicker--buttons.scss";


.datepicker-inline {
    position: absolute;
    margin-top: 5px;
    z-index: 10;
}

.calendar {
    position: relative;
}

.datepicker {
    min-width: 320px;
}