include card-search/card-search
include card-reservation/card-reservation

mixin card(opt)
    .card(class=`card-${opt.type}`)&attributes(attributes)
        case opt.type
            when 'search'
                +card-search()
            when 'reservation'
                +card-reservation(opt.roomData[0])