@import './card-search__field-wrapper/card-search__field-wrapper.scss';
@import './card-search__form/card-search__form.scss';
@import '../../calendar/calendar.scss';
@import './card-search__input/card-search__input.scss';

.card-search {
    max-width: 380px;
    padding: 40px 30px 30px;
}

@media screen and (max-width: $phoneWidth) {
    .card-search {
        max-width: 300px;
        padding: 30px 20px;
    }
}