include ../../input/input
include ../../button/button
include ../../dropdown/dropdown

mixin card-search()
        form.card-search__form
            h1.card__title Найдём номера под ваши пожелания
            .card-search__field-wrapper.calendar
                +input({
                    label:'прибытие',
                    direction:'arrival',
                    placeholder: 'ДД.ММ.ГГГГ',
                    dropdown: true,
                    class: 'calendar__input'
                })(class='card-search__input')
                +input({
                    label:'выезд',
                    direction:'checkOut',
                    placeholder: 'ДД.ММ.ГГГГ',
                    dropdown: true,
                    class: 'calendar__input'
                })(class='card-search__input')
            +dropdown({
                optInput: [{
                    label:'гости',
                    id:'full',
                    dropdown: true,
                    placeholder: 'Сколько гостей',
                    class: 'dropdown__input'
                }], 
                optDrop: [
                    {name: 'Взрослые', word: 'guests'},
                    {name: 'Дети', word: 'guests'},
                    {name: 'Младенцы', word: 'baby'}
                ],
                optButton: [
                    {
                        text: 'Применить',
                        type: 'inline-purple',
                        role: 'apply'
                    },{
                        text: 'Очистить',
                        type: 'inline-grey',
                        role: 'clear'
                    }] 
                 
            })(class='card-search__input')
            +button('подобрать номер', type='fill',true)