extends toxin

block title
    title Details

block content
    +header({})
    +photo()
    +main()(class='main_details')
        +details-info()
        .main__wrap
            +card({type: 'reservation',
                roomData: [{
                    number: '888',
                    luxury: true,
                    price: '9 990'
                }]
            })(class='main__card-reservation')
    +footer({})