extends toxin

block title
    title Search

block content
    +header({})
    +main()(class="main_search")
        +filter()
        +products({
            products: [
                {
                    rooms: [
                    '888', '980', '856', '840' 
                    ],
                    number: ['888'],
                    price: ['9 990'],
                    reviews: ['145'],
                    luxury: true,
                    stars: 5
                },{
                    rooms: [
                    '840', '740', '856', '888' 
                    ],
                    number: ['840'],
                    price: ['9 900'],
                    reviews: ['65'],
                    stars: 4
                },{
                    rooms: [
                    '980', '740', '856', '888' 
                    ],
                    number: ['980'],
                    price: ['8 500'],
                    reviews: ['35'],
                    luxury: true,
                    stars: 3
                },{
                    rooms: [
                    '856', '740', '856', '888' 
                    ],
                    number: ['856'],
                    price: ['7 300'],
                    reviews: ['19'],
                    stars: 5
                },{
                    rooms: [
                    '740', '980', '856', '888' 
                    ],
                    number: ['740'],
                    price: ['6 000'],
                    reviews: ['44'],
                    stars: 4
                },{
                    rooms: [
                    '982', '980', '856', '888' 
                    ],
                    number: ['982'],
                    price: ['5 800'],
                    reviews: ['56'],
                    stars: 3
                },{
                    rooms: [
                    '678', '980', '856', '888' 
                    ],
                    number: ['678'],
                    price: ['5 500'],
                    reviews: ['45'],
                    stars: 5
                },{
                    rooms: [
                    '450', '980', '856', '888' 
                    ],
                    number: ['450'],
                    price: ['5 300'],
                    reviews: ['39'],
                    stars: 4
                },{
                    rooms: [
                    '350', '980', '856', '888' 
                    ],
                    number: ['350'],
                    price: ['5 000'],
                    reviews: ['77'],
                    stars: 3
                },{
                    rooms: [
                    '666', '980', '856', '888' 
                    ],
                    number: ['666'],
                    price: ['5 000'],
                    reviews: ['25'],
                    stars: 5
                },{
                    rooms: [
                    '444', '980', '856', '888' 
                    ],
                    number: ['444'],
                    price: ['5 000'],
                    reviews: ['15'],
                    stars: 3
                },{
                    rooms: [
                    '352', '980', '856', '888' 
                    ],
                    number: ['352'],
                    price: ['5 000'],
                    reviews: ['55'],
                    stars: 3
                }
                
            ]
        })
    +footer({})
    