include ../input/input
include ../button/button
include ../controler/controler


mixin dropdown(opt)
    -optInput = opt.optInput || {};
    -optDrop = opt.optDrop || {};
    -optButton = opt.optButton || {};
    .dropdown&attributes(attributes)
        +input(optInput[0])
        .dropdown__total
            ul.dropdown__list
                each item in optDrop
                    li.dropdown__item
                        span.dropdown__text= item.name
                        +controler(name=`${item.word}`)
            if(optButton)
                .dropdown__buttons
                    each item, i in optButton
                        button(class=`btn_type-${optButton[i].type}` date-role=optButton[i].role)= optButton[i].text

                            