@import './photo__section/photo__section.scss';
@import './photo__img/photo__img.scss';

.photo {
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}