mixin photo()
    .photo
        .photo__section.photo__section_left
            img(class="photo__img" src=require("../blocks/photo/img/image.jpg") alt="Фото номера 1")
        .photo__section.photo__section_right
            img(class="photo__img" src=require("../blocks/photo/img/image2.jpg") alt="Фото номера 2")
            img(class="photo__img" src=require("../blocks/photo/img/image3.jpg") alt="Фото номера 3")