mixin pie-chart()
    .pie-chart&attributes(attributes)
        h2.pie-chart__title Впечатления от номера
        .pie-chart__wrap
            .pie-chart__diagram
                .pie-chart__slice.pie-chart__slice_perfectly
                .pie-chart__slice.pie-chart__slice_good
                .pie-chart__slice.pie-chart__slice_fair
                .pie-chart__slice.pie-chart__slice_badly
                .pie-chart__vote
                    b.pie-chart__number 260
                    span.pie-chart__text голосов
            ul.pie-chart__markers
                li.pie-chart__marker.pie-chart__marker_perfectly Великолепно
                li.pie-chart__marker.pie-chart__marker_good Хорошо
                li.pie-chart__marker.pie-chart__marker_fair Удовлетворительно
                li.pie-chart__marker.pie-chart__marker_badly Разочарован

    