@import "landing__card-search/landing__card-search.scss";
@import "landing__message/landing__message.scss";

.landing {
    height: 900px;
    background: url("./assets/img/bg.jpg") top center no-repeat;
    background-size: cover;
}

