.card-search__field-wrapper {
    display: inline-block;
    font-size: 0;
   .field {
    display: inline-block;
    width: calc(50% - 10px);
    font-size: 14px;

    &:first-child{
        margin-right: 20px;
    }
   }
}