// Font
$mainFont                : 'Montserrat', Arial, sans-serif;

// Size
$mainFontColor           : #1F2041;
$mainFontSize            : 14px;
$mainFontWeight          : 400;

$max-width               : 1920px;
$min-width               : 320px;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Color
$darkShade100            :$mainFontColor ;
$darkShade75             :change-color($mainFontColor, $alpha: 0.75);
$darkShade50             :change-color($mainFontColor, $alpha: 0.5);
$darkShade30             :change-color($mainFontColor, $alpha: 0.3);
$darkShade10             :change-color($mainFontColor, $alpha: 0.75);
$darkShade5              :change-color($mainFontColor, $alpha: 0.05);
$purple                  :#bc9cff;
$green                   :#6fcf97;

$purpleLinearGradient    :linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);