include ../room/room
include ../pagination/pagination

mixin products(opt)
    -products = opt.products || {}
    section.products
        h1.products__header Номера, которые мы для вас подобрали
        .products__list
            each item in products
                +room(item)(class='products__item')
        +pagination(class='products__pagination')
        