mixin footer__social(nets)
    -
     nets = nets || [
         {name: 'twitter', href: 'https://twitter.com/?lang=ru'},
         {name: 'facebook', href: 'https://ru-ru.facebook.com/'},
         {name: 'instagram', href: 'https://www.instagram.com/?hl=ru'}
         ];
     
    ul.footer__social
        each item in nets
            li.footer__icon= item.name
                +link(item.href)
                    img(src=require(`../blocks/footer/footer__social/img/${item.name}.svg`) width="24" height="24" alt=nets.name)

