@import './room__gallery/room__gallery.scss';
@import './room__img/room__img.scss';
@import './room__info/room__info.scss';
@import './room__luxury/room__luxury.scss';
@import './swicher/swicher.scss';
@import '../stats-room/stats-room.scss';

.room {
    width: 270px;
    border-radius: 4px;
}

@media screen and (max-width: $smDesktopWidth) {
    .room {
        margin: 0 auto;
    }
}