include ../link/link


mixin site-menu(siteMenu)
    ul.site-menu&attributes(attributes)
        each item in siteMenu
            if item.extend
               li.site-menu__item.site-menu__item_extend
                 +link(link)(class='site-menu__link')
                  =item.name
            else
                li.site-menu__item
                    +link(link)(class='site-menu__link')
                     =item.name