@import '../link/link.scss';
@import './site-menu__item/site-menu__item.scss';
@import './site-menu__item_extend/site-menu__item_extend.scss';

.site-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    box-sizing: border-box;
}

@media screen and (max-width: $smDesktopWidth) {
    .site-menu {
        order: 3;
    }    
}