include ../site-menu/site-menu


mixin header(siteMenu)
  header.header  
    -
      siteMenu = siteMenu || 
      [
        {name: 'О нас'},
        {name: 'Услуги', popup: true},
        {name: 'Вакансии'},
        {name: 'Новости'},
        {name: 'Соглашения', popup: true}
      ];

    +site-menu(siteMenu)



      

        

            
            
             
    
    
    
                
               