
header.page-header
    nav.navigation
        .logo
            img(src=require('./img/Logo.svg') width="106" height="40")
        ul.site-navigation
            li.site-navigation__item
                a.site-navigation__link(href="#") О нас
            li.site-navigation__item_arrow
                a.site-navigation__link(href="#") Услуги
            li.site-navigation__item
                a.site-navigation__link(href="#") Вакансии
            li.site-navigation__item
                a.site-navigation__link(href="#") Новости
            li.site-navigation__item_arrow
                a.site-navigation__link(href="#") Соглашения
        ul.user-navigation
            li.user-navigation__item
                
               