include ../site-menu/site-menu
include ../site-menu/site-menu
include user-menu/user-menu
include ../logo/logo

mixin header(siteMenu, userMenu)
  header.header
    +logo()(class="header__logo")
    -
      siteMenu = siteMenu || 
      [
        {name: 'О нас'},
        {name: 'Услуги',extend: true},
        {name: 'Вакансии'},
        {name: 'Новости'},
        {name: 'Соглашения',extend: true}
      ];
      userMenu = userMenu || [
        {text: 'войти', type:'border'},
        {text: 'зарегистрироваться', type:'fill'}
      ]

    
    +site-menu(siteMenu)(class='header__site-menu')
    +user-menu(user, userMenu)



      

        

            
            
             
    
    
    
                
               